@import "./src/scss/helpers/vars";

.dropdown {

}

.dropdownControls {
  position: relative;
}

.dropdownControlsInput {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;

  span {
    padding-right: 12px;
  }
}


.dropdownControlsInput, .dropdownOptions {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 3px 3px 12px rgba(166, 180, 200, 0.7);
  border-radius: 5px;
}

.dropdownControlsInput, .dropdownOption {
  font-weight: 500;
  font-size: 12px;
  color: $blue;
  cursor: pointer;
}

.dropdownOptionsWrapper {
  position: absolute;
  top: 100%;
  padding-top: 10px;
  width: 100%;
  display: flex;
  z-index: 1000;
}

.dropdownOptions {
  width: 100%;
  padding: 5px 8px 10px 8px;
  z-index: 100;
  font-size: 12px;
}

.dropdownOption {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  display: block;
}

.dropdownDelimeter {
  width: 100%;
  height: 2px;
  background: #E7EAF3;
  box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px #B3BBD3;
  border-radius: 4px;
}