@import "./src/scss/main";

.formAdding {
  width: 282px;
  box-sizing: border-box;
  padding: 20px;
}

.formAddingRuble {
  line-height: 21px;
}

.formAddingInput {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: $main;

  input {
    border: 0;
    background-color: transparent;
    font-weight: bold;
    padding-left: 10px;
    color: inherit;
    max-width: calc(100% - 24px);

    &::placeholder {
      color: inherit;
    }
  }

  &.income {
    color: $green;
  }
}

.formAddingDelimeter {
  background: #E7EAF3;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5), 2px 2px 4px #B3BBD3;
  border-radius: 4px;
  height: 2px;
  width: 100%;
}