/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/josefin-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/josefin-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/josefin-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/josefin-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/josefin-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/josefin-sans-v16-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/josefin-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/josefin-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/josefin-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/josefin-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/josefin-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/josefin-sans-v16-latin-700.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* ubuntu-regular - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/ubuntu-v14-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
  url('../../fonts/ubuntu-v14-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/ubuntu-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/ubuntu-v14-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/ubuntu-v14-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/ubuntu-v14-latin_cyrillic-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-500 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/ubuntu-v14-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
  url('../../fonts/ubuntu-v14-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/ubuntu-v14-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/ubuntu-v14-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/ubuntu-v14-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/ubuntu-v14-latin_cyrillic-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-700 - latin_cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/ubuntu-v14-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
  url('../../fonts/ubuntu-v14-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/ubuntu-v14-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/ubuntu-v14-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/ubuntu-v14-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/ubuntu-v14-latin_cyrillic-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}