.mb {
  &-16 {
    margin-bottom: 16px;
  }
  &-18 {
    margin-bottom: 18px;
  }
  &-20 {
    margin-bottom: 20px;
  }
  &-25 {
    margin-bottom: 25px;
  }
  &-30 {
    margin-bottom: 30px;
  }
  &-35 {
    margin-bottom: 35px;
  }
}