$background: linear-gradient(118.47deg, #E9EDF0 0.61%, #E9EDF0 100%);
$pink: #e4377f;
$blue: #699FD5;
$black: #2E4B67;
$blue-second: #2F80ED;
$main: #2E4B67;
$placeholder: #7A91A8;
$gray: #E7EAF3;
$green: #8DC645;

$font-primary: 'Ubuntu', sans-serif;
$font-second: 'Josefin Sans', sans-serif;