.button {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 36px;
  min-width: 136px;
  padding-left: 10px;
  width: 100%;
  padding-right: 10px;
  line-height: 1;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.8), 2px 2px 12px rgba(166, 180, 200, 0.7);
  color: $main;
}

.buttonBlue {
  background: linear-gradient(134.17deg, #7A91CB 4.98%, #5075BE 94.88%);
  box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.8), 2px 2px 12px #516AA0;
  color: white;
}

.buttonSuccess {
  background: linear-gradient(134.17deg, #82C463 4.98%, #69A54D 94.88%);
  box-shadow: -3px -3px 7px #FFFFFF, 5px 5px 15px #A6B4C8;
  color: white;
}

.buttonInfo {
  font-size: 12px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.8), 2px 2px 12px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  height: 36px;
  position: relative;
  display: flex;
  transition: all 0.2s;

  span {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 21px;
  }

  &.active {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.5), 2.5px 2.5px 6px rgba(174, 174, 192, 0.4);

    &:after {
      content: '';
      position: absolute;
      top: 1.5px;
      bottom: 1.5px;
      left: 1px;
      right: 1px;
      z-index: 1;
      background: linear-gradient(134.17deg, #E2E8F5 4.98%, #E6E9EF 94.88%);
      box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.5), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
      border-radius: 10px;
    }
  }

  svg {
    width: 17px;
    height: auto;
    margin-right: 10px;
  }
}