.formGroup {
  position: relative;
  label {
    display: block;
    margin-bottom: 6px;
  }

  width: 100%;

  input, textarea {
    width: 100%;
    box-sizing: border-box;
  }

  input {
    height: 32px;
    background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
    border-radius: 40px;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;

    &::placeholder {
      font-size: 12px;
      color: $placeholder;
    }
  }
}

.formGroupError {
  position: absolute;
  bottom: -15px;
  font-size: 12px;
  color: $pink;

}

.formGroupRadio {
  width: auto;

  label {
    height: 32px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 15px rgba(166, 180, 200, 0.9);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
  }

  input {
    display: none;

    &:checked {
      + label {
        background-color: $black;
        color: white;
      }
    }
  }

}