@import "./src/scss/helpers/vars";

.slideButtons {
  background: linear-gradient(134.17deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), inset 5px 5px 10px rgba(166, 180, 200, 0.75);
  border-radius: 40px;
  height: 32px;
  display: flex;
  max-width: 345px;
  position: relative;

  button {
    flex-grow: 1;
    background-color: transparent;
    z-index: 2;
    color: $black;
    position: relative;
    transition: color 0.3s;

    &.active {
      color: white;
    }
  }
}

.slideTrack {
  position: absolute;
  background-color: $blue;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100px;
  border-radius: 40px;
  z-index: 1;
  transition: left 0.3s ease-out;
}