@import "./src/scss/main";

.changePasswordForm {
  max-width: 270px;
}

.settingsPage {
  padding-bottom: 75px;
  .heading {
    margin-bottom: 30px;
  }
  .formGroup {
    margin-bottom: 20px;
  }

  .buttonSuccess {
    max-width: 140px;
  }
}