@import "./src/scss/main";

.formAddCheck {

}

.formAddCheckWrapper {
  display: flex;

  .formGroup {
    margin-right: 17px;
    width: 160px;

    &:first-child {
      width: 205px;
    }
  }

  .button {
    width: auto;
  }
}

.formAddCheckWrapperColumn {
  flex-direction: column;
  padding: 20px;

  .formGroup {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
