@import "../../scss/main";

.menu {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 24px rgba(166, 180, 200, 0.7);
  border-radius: 20px;
  padding: 12px 10px;

  .buttonInfo {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}