@import "./src/scss/main";

.catsSection {
  display: grid;
  grid-template-columns: minmax(120px, 220px) minmax(120px, 220px) 1fr;
  grid-gap: 43px;

  .heading {
    margin-bottom: 30px;
    font-size: 22px;
  }
}

.catsList {

}

.catsListEmpty {
  color: $placeholder;
}

.catsCreateControls {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px;
  margin-bottom: 18px;
  font-size: 12px;
}

.catsCreate {
  .button {
    max-width: 140px;
  }
}

.catsCreateFormGroup {
  display: flex;
  margin-bottom: 23px;

  .formGroup {
  }
}

.catPickColor {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.8), 5px 5px 15px rgba(166, 180, 200, 0.9);
  border-radius: 40px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catPickColorInner {
  border-radius: 40px;
  width: 20px;
  height: 20px;
  min-width: 20px;
}