@import "../../scss/main";

.dashboard {
}

.popper {
  > div:first-child {
    height: 100%;
  }
}

.dashboardCharts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
  margin-bottom: 30px;
}

.dashboardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dashboardBalance {
  display: flex;
}

.dashboardBalanceItem {

  div {
    &:first-child {
      font-size: 12px;
      margin-bottom: 3px;
    }
  }

  div {
    &:last-child {
      font-size: 26px;
      line-height: 30px;
      font-weight: bold;
    }
  }

  &:first-child {
    margin-right: 40px;

    div {
      &:last-child {
        color: $green;
      }
    }
  }
}

.dashboardControls {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-gap: 25px;
}

.addCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -8px -8px 12px rgba(255, 255, 255, 0.8), 2px 2px 12px rgba(166, 180, 200, 0.7);
  border-radius: 5px;
  height: 100%;
  cursor: pointer;

  svg {
    width: 12px;
    height: 12px;
    min-width: 12px;
    fill: $blue;
  }
}

.dashboardMore {
  height: 31px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 12px;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -8px -8px 12px rgba(255, 255, 255, 0.8), 2px 2px 12px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;

  &.opened {
    width: 57px;
  }

  span {
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.8), 1px 1px 4px rgba(57, 108, 177, 0.6);
    background-color: $blue-second;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.dashboardMoreHeading {
  margin-right: 10px;
}