@import "./src/scss/main";

.checkItem {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
  max-width: 382px;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -6px -6px 12px rgba(255, 255, 255, 0.8), 2px 2px 12px rgba(166, 180, 200, 0.7);
  border-radius: 10px;
}

.checkItemTitle {
  font-weight: 500;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.checkItemBalance {
  color: $green;
  margin-left: auto;
  margin-right: 30px;
  font-weight: normal;
}

.checkItemControls {
  svg {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  display: flex;
}

.checkItemButton {
  cursor: pointer;
  margin-left: 15px;
  svg {
    fill: $pink;
  }

}

.checkItemButtonEdit {
  margin-left: 0;
  svg {
    fill: $main;
  }
}