@import "./src/scss/helpers/vars";

.chartWrapper {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  padding: 3px;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -9px -9px 12px rgba(255, 255, 255, 0.8), 3px 3px 12px rgba(166, 180, 200, 0.7), inset -5px -5px 14px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: relative;
}

.chartWrapperCenter {
  width: 100px;
  height: 100px;
  min-width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(138.6deg, rgba(255, 255, 255, 0.2) 17.81%, rgba(255, 255, 255, 0) 85.38%), #ECEEF4;
  box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.2), 5px 5px 20px rgba(174, 190, 222, 0.48), inset -5px -5px 22px rgba(255, 255, 255, 0.25);
  z-index: 10;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}