@import "./src/scss/main";

.statDetailsItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    &:first-child {
      padding-right: 10px;
      white-space: nowrap;
      flex-grow: 1;
      overflow: hidden;
    }
  }
}

.statDetailsHeading {
  font-weight: bold;
  margin-bottom: 10px;
}
