@import "./src/scss/helpers/vars";
.logo {
  font-family: $font-second;
  font-weight: bold;
  background-color: $pink;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: relative;
  font-size: 36px;
  line-height: 36px;

  &:after {
    content: '';
    width: 56px;
    height: 2px;
    bottom: 0.05em;
    position: absolute;
    background-color: #699FD5;
    box-shadow: 2px 2px 4px rgba(179, 198, 218, 0.6), -2px -2px 4px #FFFFFF;
    border-radius: 6px;
    left: 0.1em;
  }

  &.big {
    font-size: 120px;
    line-height: 1.2;

    &:after {
      bottom: 0.2em;
      width: 188px;
      height: 6px;
    }
  }
}