@import "./src/scss/helpers/vars";

.dateInput {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  font-weight: 500;
  color: $blue;
  width: 100%;
  cursor: pointer;

  span {
    padding-right: 12px;
  }

  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 3px 3px 12px rgba(166, 180, 200, 0.7);
  border-radius: 5px;
}