@import "./src/scss/helpers/vars";
.mainHeader {
  padding-top: 36px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogout {
  cursor: pointer;
  color: $pink;
  margin-top: 8px;
}