@import "./src/scss/main";

.formConfirm {
  padding: 20px;

  p {
    margin-top: 0;
    text-align: center;
  }

  .button {
    width: 80px;
    min-width: 50px;
  }
}

.formConfirmButtons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 15px;
}