@import "./src/scss/helpers/vars";

.search {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.8), 2px 2px 12px rgba(166, 180, 200, 0.7);
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 36px;
  padding-left: 13px;

  svg {
    margin-right: 10px;
  }

  input {
    height: 100%;
    border: 0;
    background-color: transparent;

    &::placeholder {
      color: $placeholder;
    }
  }
}