@import "./src/scss/main";

.catItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;

  span {
    padding-right: 15px;
  }
}

.catDelete {
  cursor: pointer;
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(166, 180, 200, 0.7);
  border-radius: 40px;
  width: 25px;
  height: 25px;
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 10px;
    height: 10px;
    min-width: 10px;
  }
}