.colorPicker {
  display: grid;
  grid-template-columns: repeat(auto-fit, 22px);
  grid-gap: 10px;

  span {
    border-radius: 50%;
    height: 22px;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

  }
}