@import "./src/scss/forms";

.loginFormControls {
  margin-bottom: 0;
}

.politics {
  color: $placeholder;
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.2;

  a {
    text-decoration: underline;
  }
}

