@import "./scss/helpers/vars";
@import "./scss/helpers/fonts";

h1 {
  margin: 0;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 14px;
  background: $background;
  color: $main;
}

button {
  border: 0;
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

input, textarea, button {
  outline: none;
  &:hover, &:active, &:visited {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}