#root {
    height: 100%;
}

body, html {
    height: 100%;
}

.container {
    max-width: 1167px;
    margin: 0 auto;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.rotate-180 {
    transform: rotate(180deg);
    transform-origin: center;
}

.echarts-for-react {
    width: 100% !important;
    height: 100% !important;
}

.popper-content {
    border-radius: 40px !important;
    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%) !important;
}

.popper-content__thin {
    border-radius: 20px !important;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  rgba(60, 82, 98, 0.6);
    z-index: 100;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.ct-toast {
    border-radius: 10px !important;
    border-left: 0 !important;
}

.ct-text {
    line-height: 22px;
}

.ct-text p:last-child {
    margin-bottom: 0;
}

.ct-toast-info .ct-text-group-heading {
    margin-left: 0;
}

.react-datepicker, .react-datepicker__header {
    background-color: #eaedf2 !important;
}

.react-datepicker {
    border: 0 !important;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, .13) !important;
}

.react-datepicker__header {
    border-bottom: 1px solid #dcdcdc !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
    display: none !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: #699fd5 !important;
    outline: none !important;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
    background-color: #dedede !important;
}