@import "main";

.form {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 24px rgba(166, 180, 200, 0.7);
  border-radius: 40px;
  padding: 36px 30px 50px 36px;
  max-width: 368px;

  .formGroup {
    margin-bottom: 22px;
  }
}

.loginFormControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  button {
    width: auto;
  }
}

.forgot {
  font-size: 12px;
  color: $placeholder;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: $main;
  }
}

.separator {
  display: flex;
  align-items: center;
  color: $placeholder;
  width: 100%;
  margin-bottom: 26px;

  div {
    background: #E7EAF3;
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.5), 2px 2px 4px #B3BBD3;
    border-radius: 4px;
    height: 2px;
    margin-left: 16px;
    flex-grow: 1;
  }
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  div, a {
    cursor: pointer;
    width: 100%;
    height: 60px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.8), 6px 6px 15px rgba(166, 180, 200, 0.7);
    border-radius: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}