@import "helpers/vars";
@import "helpers/margins";
@import "components/inputs";
@import "components/buttons";

.contentSection {
  background: linear-gradient(134.17deg, #EEF0F5 4.98%, #E6E9EF 94.88%);
  box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.8), 10px 10px 24px rgba(166, 180, 200, 0.7);
  border-radius: 40px;
  padding: 35px;
  min-height: 260px;
}

.heading {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.rotate45 {
  transform: rotate(45deg);
}

.popper {
  > div:first-child {
    display: block !important;
    z-index: 900 !important;
  }
}

